@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
html, body{
	width:100%;
	height:100%;
}
@font-face{
	font-family:franklin;
	src:url(../fonts/franklin.ttf);
}
*{
	font-family: 'Open Sans', sans-serif;
	box-sizing:border-box;
}
.clear{
	width:0;
	height:0;
	clear:both;
}
.border_none{
	border:none !important;
}
*:focus, input:focus, select:focus, textarea:focus, button:focus{
	outline:none;
}
.margin_top{
	margin-top:15px !important;
}
.margin_top_double{
	margin-top:30px !important;
}

.splash_logo{
	width:300px;
	height:172px;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
.splash_logo img{
	width:100%;
}

.arrow_header{
	width:100%;
	height:auto;
	text-align:center;
	z-index:99999;
	border-top:#bfbfbf solid 2px;
	position:relative;
}
.arrow_header img{
	width:50px;
	margin-top:-2px;
}
body{
	 margin:0;
	 padding:0;
	 background:#000;
}
.login_screen{
	max-width:400px;
	height:283px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	position:fixed;
}
.login_logo{
	width:100%;
	height:auto;
	text-align:center;
}
.login_logo img{
	width:200px;
}
.login_forms_outer{
	width:100%;
	margin-top:30px !important;
}
.login_forms{
	width:100%;
	height:45px;
	text-align:center;
	font-size:18px;
	font-weight:lighter;
	letter-spacing:1px;
	text-transform:uppercase;
	border:none;
	border-bottom:#FFF solid 2px;
	background:none;
	font-family:franklin;
	color:#FFF;
}
.login_forms::-webkit-input-placeholder {
	color:#FFF;
}
.login_forms:-moz-placeholder { /* Firefox 18- */
	color:#FFF;
}
.login_forms::-moz-placeholder {  /* Firefox 19+ */
	color:#FFF;
}
.login_forms:-ms-input-placeholder {  
	color:#FFF;
}
.login_forms_outer a{
	text-align:center;
	color:rgba(255,255,255,0.8);
	display:block;
	width:100%;
	font-size:small;
	text-decoration:none !important;
}
.login_screen_buttons{
	width:100%;
	height:auto;
	margin-top:30px !important;
}
.login_button{
	border:#FFF solid 2px;
	border-radius:100px;
	height:35px;
	cursor:pointer;
	width:150px;
	font-family:franklin;
	font-size:18px;
	font-weight:lighter;
	letter-spacing:1px;
	background:none;
	text-transform:uppercase;
	color:#FFF;
	margin:auto;
	display:block;
}
.facebook_button{
	border:none;
	border-radius:100px;
	height:35px;
	width:150px;
	font-size:18px;
	background:#3b5995;
	color:#FFF;
	margin:auto;
	display:block;
}
.login_screen_buttons a{
	text-align:center;
	color:rgba(255,255,255,0.8);
	font-size:small;
	display:block;
	width:100%;
	text-decoration:none !important;
}
header{
	position:fixed;
	width:100%;
	top:0;
	z-index:9;
}
header.header_main{
	position:absolute;
	height:auto;
	border-bottom:#ddd solid 1px;
}
header.header_main .header_inner{
	height:65px;
}
.header_inner{
	width:100%;
	height:100px;
	position:relative;
	padding:10px 15px;
	background:rgba(255,255,255,0.85);
}
.header_inner_text_upper{
	width:100%;
	height:auto;
}
.header_inner_text_upper_menu_icon{
	position:absolute;
}
.header_inner_text_upper_menu_icon img{
	width:30px;
	margin-top:9px;
}
.header_inner_text_upper_search_icon{
	position:absolute;
	right:15px;
	top:18px;
}
.header_inner_text_upper_search_icon img{
	width:25px;
}
.header_inner_text_upper_title{
	width:100%;
	font-family:franklin;
	font-size:30px;
	color:#444;
	line-height:50px;
	font-weight:lighter;
	letter-spacing:1px;
	text-align:center;
	text-transform:uppercase;
}
.sub_header{
	width:100%;
	height:30px;
	font-size:12px;
	font-weight:600;
	margin-top:8px;
	line-height:30px;
}
.sub_header a{
	color:#333;
	text-decoration:none;
}
.sort_options{
	height:25px;
	font-family:franklin;
	text-transform:uppercase;
	width:80px;
	background:none;
	border:#000 solid 2px;
	margin-top:2.5px;
}
.products_show_left{
	width:100%;
	height:auto;
	float:left;
	padding-bottom:48px;
	margin-top:100px;
}
.products_show_left_one{
    width: 50%;
    float: left;
	border-right:#bfbfbf solid 2px;
}
.products_show_left_one_validity{
	padding:15px;
	position:relative;
}
.product_valid{
	width:100%;
	font-family:franklin;
	font-size:17px;
	padding-right:35px;
	font-weight:lighter;
	letter-spacing:1px;
	background:none;
	text-transform:uppercase;
	float:left;
}
.product_valid_favour{
	position:absolute;
	right:15px;
}
.product_valid_favour img{
	width:25px;
}
.products_show_left_one_image{
	width:100%;
	text-align:center;
	margin-top:15px;
}
.products_show_left_one_image img{
	height:100px;
}
.products_show_left_one_miles{
	width:100%;
	height:auto;
	margin-top:15px;
	text-align:center;
	font-size:15px;
}
.products_show_left_one_title{
	width:100%;
	height:75px;
	margin-top:15px;
	border-bottom:#bfbfbf solid 2px;
	padding:15px;
	border-top:#bfbfbf solid 2px;
	position:relative;
}
.products_show_left_one_title_name{
	width:100%;
	height:40px;
	overflow:hidden;
	padding-right:60px;
	word-wrap:break-word;
	position:relative;
	font-weight:600;
}
.products_show_left_one_cart{
	width:25px;
	height:20px;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	right:15px;
}
.products_show_left_one_cart img{
	width:25px;
}
@media all and (max-width:600px){
.products_show_left_one_image{
	width:100%;
	height:130px;
	position:relative;
	text-align:center;
	margin-top:15px;
}
.products_show_left_one_image img{
	height:auto;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	left:0;
	right:0;
}
}
@media all and (max-width:400px){
.login_screen{
	width:250px;
	height:278px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	position:fixed;
}
.login_logo img{
	width:180px;
}
}
.bottom_tabs{
	width:100%;
	height:50px;
	background:#FFF;
	border-top:#bfbfbf solid 2px;
	position:fixed;
	bottom:0;
	z-index:99999;
}
.bottom_tabs_one{
	width:25%;
	padding-top:8px;
	height:50px;
	font-size:11px;
	float:left;
	text-align:center;
	color:#929292;
}
.bottom_tabs_one img{
	width:12px;
}
.main_category{
	width:100%;
	height:100%;
	padding-top:100px;
}
.main_category_one{
	width:50%;
	height:50%;
	border:#bfbfbf solid 1px;
	float:left;
	position:relative;
}
.main_category_one_inner{
	width:120px;
	height:55px;
	font-family:franklin;
	letter-spacing:0.5px;
	text-align:center;
	text-transform:uppercase;
	font-size:18px;
	color:#555;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	line-height:30px;
}
.main_category_one_inner img{
	width:30px;
}






.mobel{
	width:300px;
	height:300px;
	background:#096;
}
.close_button{
	width:50px;
	height:50px;
	border-radius:100%;
	background:#FFF;
}





.model_black_area{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	position:fixed;
	z-index:999999;
}
.model_black_area_white{
	width:350px;
	height:235px;
	background:#FFF;
	position:fixed !important;
	left:0 !important;
	right:0 !important;
	bottom:0 !important;
	top:0 !important;
	margin:auto !important;
	padding:15px;
}
.model_black_area_white p{
	border-bottom:#707070 solid 1px;
	text-align:center;
	font-size:13px;
	line-height:24px;
	padding:0px 0 15px 0;
	margin:0;
}
.mobile_number_form{
	width:100%;
	height:50px;
	margin-top:30px;
	overflow:hidden;
	position:relative;
	border-bottom:#707070 solid 1px;
}
.country_code_select{
	width:70px;
	height:50px;
	border:none;
	top:0;
	color:#333;
	position:absolute;
	font-family:franklin;
	background:none;
	border-radius:0 !important;
	border-right:#707070 solid 1px;
}
.mobile_number_main{
	width:100%;
	height:50px;
	padding:0;
	border:none;
	background:none;
	color:#333;
	padding-left:78px;
	font-family:franklin;
	text-transform:uppercase;
	font-size:17px;
	letter-spacing:1px;
}
.enter_button{
	width:100%;
	height:45px;
	border:#333 solid 3px;
	border-radius:50px;
	cursor:pointer !important;
	background:none;
	font-family:franklin;
	color:#333;
	margin-top:15px;
	letter-spacing:0.8px;
	text-transform:uppercase;
	font-size:20px;
}
@media all and (max-width:395px){
.model_black_area_white{
	width:90%;
	margin:0 5%;
	height:255px;
	background:#FFF;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	top:0;
	margin:auto;
	padding:15px;
}
}
.main_pop_title{
	width:100%;
	height:50px;
	font-family:franklin;
	text-align:center;
	font-size:28px;
	color:#333;
	letter-spacing:1px;
	line-height:40px;
	text-transform:uppercase;
	border-bottom:#707070 solid 1px;
}
.mobile_number_form_all{
	width:100%;
	height:45px;
	padding:0;
	border:none;
	border-bottom:#707070 solid 1px;
	color:#333;
	background:none;
	text-align:center;
	margin-top:15px;
	font-family:franklin;
	text-transform:uppercase;
	font-size:17px;
	letter-spacing:1px;
}





/*.slidearrow
{
height: 230px;
   background: rgba(255, 255, 255, 0.85098);
   border-radius: 10px;
   
}
.heading
{
   font-size: 40px;
   padding: 26px 0px 0px 26px;
   height: 53px;
}
.box_inner
{
background: #333333;
  border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
   margin: 30px 20px 0px 20px;
height:130px;
}
.price
{
   color: #fff;
   float: right;
   border-radius: 6px;
   border: 1PX solid #FFF;
   padding: 5px;
   margin: 10px -87px 0px 0px;
}
.text-right
{
float:right;
font-size:20px;
padding-right:40px;
}

.sub_text
{
float: right;
margin-right: -53px;
}

.sub_text_price
{
color:#fff;margin:0;
}*/



.user_profile_card{
	padding:15px;
	padding-top:0;
	background:rgba(255,255,255,0.85);
}
.user_profile_card_inner{
	background:#FFF;
	width:100%;
	height:auto;
	border:#e5e5e5 solid 1px;
	border-radius:10px;
	padding:6px;
}
.user_profile_card_inner_upper{
	width:100%;
	height:100px;
	background:#FFF;
	border-radius:10px 10px 0 0;
}
.user_profile_card_inner_bottom{
	width:100%;
	height:100px;
	color:#FFF !important;
	border-radius:0 0 9px 9px;
	background:#333;
}
.user_profile_card_inner_bottom .user_profile_card_inner_upper_one{
	text-align:left;
}
.user_profile_card_inner_upper_one{
	float:left;
	text-align:right;
	padding:0 20px;
	margin-top:40px;
}
.user_profile_card_inner_upper_one img{
	width:100px;
}







.profile_pic_details{
	width:100%;
	height:auto;
	overflow:hidden;
	position:relative;
}
.profile_pic_details_image {
	width:100%;
	height:350px;
	overflow:hidden;
	position:absolute;
}
.profile_pic_details_image img{
	width:100%;
}
.profile_pic_details_image_detail{
	width:100%;
	height:350px;
	position:relative;
	top:0;
	z-index:9999;
	background:rgba(0,0,0,0.0);
}
.profile_pic_details_image_detail_header{
	width:100%;
	height:auto;
	padding:0 15px;
	padding-top:15px;
	text-transform:uppercase;
	font-size:small;
	letter-spacing:1px;
}
.profile_pic_details_image_detail_header_back{
	width:auto;
	float:left;
}
.profile_pic_details_image_detail_header_back img{
	width:30px;
}
.profile_pic_details_image_detail_header_name_address{
	width:100%;
	height:70px;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	text-align:center;
}
.profile_pic_details_image_detail_header_name_address h3, .profile_pic_details_image_detail_header_name_address p{
	margin:0;
	color:#FFF;
}
.profile_pic_details_image_detail_header_name_address h3{
	font-family:franklin;
	text-transform:uppercase;
	font-size:30px;
	letter-spacing:2px;
}
.profile_pic_details_image_detail_header_name_address p{
	font-size:small;
}
.diesel_id_detail{
	color:#FFF !important;
	position:absolute;
	bottom:30px !important;
}
@media all and (max-width:350px){
.profile_pic_details_image {
	width:100%;
	height:350px;
	overflow:hidden;
	position:absolute;
}
.profile_pic_details_image img{
	width:auto !important;
	height:350px;
}
}
.profile_pic_details_text{
	width:100%;
	height:600px;
	background:#f2f2f2;
	border-radius:20px 20px 0 0;
	position:relative;
	z-index:9999;
	margin-top:-25px;
}
.profile_pic_details_text_inner{
	height:auto;
	position:relative;
	width:100%;
	padding-left:28px;
}
.profile_pic_details_text_inner_icon{
	width:20px;
	height:20px;
	position:absolute;
}
.profile_pic_details_text_inner_icon img{
	width:100%;
}
.profile_pic_details_text_one{
	border-bottom:#d8d8d8 solid 1px;
	padding:20px;
}
.bottom_buttons_show{
	width:210px;
	height:auto;
	margin:auto;
	padding-top:15px;
}
.footer_buttons{
	width:210px;
	height:45px;
	margin-top:10px;
	background:none;
	border:#333 solid 3px;
	border-radius:70px;
	font-family:franklin;
	text-transform:uppercase;
	letter-spacing:0.5px;
	font-size:20px;
	color:#333 !important;
}




.term-below{
	width:100%;
	padding-top:100px;
}
.term-below-content{
	float:left;
}
.term-below-content ul{
	padding-left:15px;
	margin:0;
}
.term-below-content li{
	padding:0px 25px 20px 0px;	
	text-align:justify;
}
.heading_how{
	font-size:20px;
}
.term-below-content1{
	float:left;
}
.bottom_buttons_show, .term-below-content1, .term-below-content, .product_cart_all{
	padding-bottom:70px !important;
}
.term-below-content1 ul{
	padding-left:20px;
	list-style:none;
	margin:0;
}
.term-below-content1 li{
	padding:0px 25px 20px 0px;	
	text-align:justify;
}
.sub-content{
	list-style:circle !important;
}
.feedback_form{
	padding:20px;
	padding-top:100px;
}
.feedback_form .mobile_number_form_all{
	text-align:left;
}
.feedback_form .mobile_number_form_all.message_form{
	height:150px;
	margin-top:20px;
	resize:none;
}



.social_media{
	padding-left:28px;
}
.social_media img{
	width:40px;
	margin-right:10px;
	margin-top:10px;
}
.product_slider{
	height:360px;
}
.product_slider img{
	width:240px !important;
	margin:auto;
}
.product_slider .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #333;
}
.product_slider .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #333\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #333;
    border-radius: 10px;
}
@media all and (max-width:300px){
.product_slider img{
	width:100%;
	margin:auto;
}
}










.more_category{
	width:100%;
	height:100%;
	padding-top:100px;
}
.more_category_one{
	width:50%;
	height:auto;
	padding:100px 0;
	border:#bfbfbf solid 1px;
	float:left;
	position:relative;
}
.more_category_one_inner{
	width:100%;
	height:70px;
	font-family:franklin;
	letter-spacing:1px;
	text-align:center;
	padding:0 10px;
	text-transform:uppercase;
	font-size:20px;
	color:#555;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	line-height:inherit;
}
.more_category_one_inner img{
	width:30px;
	margin-bottom:10px;
}
.search_bar{
	width:100%;
	height:45px;
	background:#FFF;
	margin-top:65px;
	position:relative;
	float:left;
	border-bottom:#ddd solid 1px;
}
.main_search_bar{
	width:100%;
	height:45px;
	background:none;
	padding:0;
	border:none;
	padding-left:8px;
	padding-right:53px;
	font-family:franklin;
	text-transform:uppercase;
	font-size:16px;
	letter-spacing:1px;
	color:#666;
}
.main_search_button{
	width:45px;
	height:45px;
	position:absolute;
	top:0;
	right:0;
	background:none;
	border:none;
	border-left:#ddd solid 1px;
	padding:0;
}
.main_search_button img{
	width:20px;
	opacity:0.8;
}
.product_cart_all{
	padding:0 15px;
}
.product_cart{
	width:100%;
	height:auto;
	margin-top:15px;
	border:#ddd solid 1px;
	border-radius:5px;
	background:#FFF;
	padding:10px;
	position:relative;
}
.product_cart_image{
	width:100px;
	height:100px;
	position:relative;
	float:left;
	border:#ddd solid 1px;
}
.product_cart_image img{
	width:80px;
	margin:10px;
}
.product_cart_text{
	width:100%;
	position:relative;
	height:auto;
	top:0;
	padding-left:110px;
	margin-bottom:-20px;
}
.product_cart_text_detail{
	width:100%;
	height:53px;
	overflow:hidden;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	color:#666;
	line-height:16px;
}
.product_cart_text_detail span{
	font-size:12px;
	color:#777;
	text-transform:none !important;
}
.product_cart_text_remove_price {
	font-size:12px;
	color:#666;
}
.product_cart_text_remove_price a{
	color:red;
	text-decoration:none;
}
.product_cart_text_remove_price span.price{
	float:left;
}
.product_cart_text_remove_price span.remove{
	float:right;
}
.quantity_form_cart{
	width:100%;
	height:auto;
	margin-bottom:4px;
	margin-top:1px;
}
.quantity_form{
	width:40px;
	height:25px;
	text-align:center;
	border:#ddd solid 1px;
}
.total_view{
	width:100%;
	border-bottom:#ddd solid 1px;
	padding:15px 0;
	color:#444;
}
/* .item img 
{

height:100px;
width:100px;
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}

.item img:hover{
-moz-transform:scale(2); 
-webkit-transform:scale(2);
-o-transform:scale(2);
} */





.slider_popup_zoom_image{
	width:90%;
	height:250px;
	background:#FFF;
	position:fixed !important;
	left:0 !important;
	right:0 !important;
	bottom:0 !important;
	top:0 !important;
	margin:auto !important;
	overflow:scroll;
}
.close_popup_button{
	width:50px;
	height:50px;
	position:absolute;
	left:0;
	text-align:center;
	line-height:50px;
	cursor:pointer;
	font-size:30px;
	right:0;
	top:20px;
	margin:auto;
	color:#333 !important;
	background:white;
}

.profile_detail {
    width: 94%;
    margin-bottom: 80px;
    float: left;
    height: auto;
	margin-left:3%;
	margin-top:100px;
    padding: 0 10px;
    border: #ccc solid 1px;
    background: #FFF;
}
.member_detail_show {
    width: 100%;
}
.member_detail_show label {
    text-transform: uppercase;
    font-size: small;
    margin: 0;
    width: 100%;
    margin-top: 15px;
}
.edit_profile_form {
    width: 100%;
    height: 40px;
    border: #ccc solid 1px;
    padding-left: 8px;
    border-radius: 0;
    background: none;
}
.member_detail_show_title {
    width: 100%;
    height: 40px;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    font-size: small;
    font-weight: 600;
    line-height: 40px;
    padding: 0 15px;
    margin-top: 10px;
}
.save_button {
    width: 100%;
    height: auto;
    float: left;
    border-top: #ccc solid 1px;
    margin-top: 15px;
}
.save_button a {
    width: 120px;
    height: 40px;
    border: #333 solid 3px;
    border-radius: 50px;
    text-align: center;
    line-height: 34px;
    color: #333;
    text-decoration: none;
    font-family: franklin;
    text-transform: uppercase;
    font-size: 18px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    display: block;
}


.profile_update_form{
	width:100px;
	height:100px;
	position:relative;
	border-radius:100%;
	overflow:hidden;
	margin:auto;
	margin-top:15px;
}
.profile_update_form img{
    height: 100px;
    width: 100px;
    position: relative;
}
.browse_button{
    position: absolute;
	z-index:9;
    width: 100px !important;
	opacity:0;
    height: 100px !important;
}








.image_select_title{
	border-bottom:#4495aa solid 2px;
	height:60px;
	line-height:60px;
	padding-left:10px;
	font-size:16px;
	font-weight:600;
	color:#4495aa;
}
.image_select_options{
	width:100%;
	height:auto;
	text-align:center;
}
.image_select_options_camera{
	width:50%;
	float:left;
	margin-top:30px;
	line-height:32px;
	font-weight:600;
}
.image_select_options_camera img{
	width:50px;
}







.search_suggestions{
	width:100%;
	height:250px;
	overflow-y:scroll;
	background:white;
}
.search_suggestions ul{
	margin:0;
	padding:0;
}
.search_suggestions ul li{
	list-style:none;
}
.search_suggestions a{
	display:block;
	padding:15px 10px;
	border-bottom:#f1f1f1 solid 1px;
	color:#666;
	text-decoration:none;
}
.search_suggestions a:hover{
	text-decoration:none;
}