 <ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Jakjesc</h1>
            </div>
        </div>
		
		<div class="alert alert-success" ng-show="sucess">
			Successfully Login !
		</div>
		<div class="alert alert-danger" ng-show="error">
			Invalid Email Address OR Password. Please try again !
		</div>
			
		<form method ="post"> 	
			<div class="list">
				<ion-md-input ng-model="loginForm.email" placeholder="Email" highlight-color="balanced" type="email"></ion-md-input>
				<ion-md-input ng-model="loginForm.password" placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
				
			</div>
			<div class="padding">
				<button ng-click="loginUser()" class="button button-full button-assertive ink">Login</button>          
			</div> 

		</form>	

		
    </ion-content>
</ion-view> 
