<ion-view view-title="Main Page"  style=" background: #93c22d ">
  <ion-content >
     
<div class="container">
	  <div class="tang-logo">   
		<img alt="Splash Logo" ng-src="img/tang-app-p.png">
	  </div>
	  <div class="tang-p">
		
	  <a href="#/news"><h1>{{ 'NEWS' | translate }}</h1></a>
	  <a href="#/festival/festival"><h1>{{ 'FESTIVAL' | translate }}</h1></a>
	  <a href="#/courses/corsi"><h1>{{ 'COURSES' | translate }}</h1></a>
	  <a href="#/events"><h1>{{ 'EVENTS' | translate }}</h1></a>
	  
			

  
	  </div>
  </div> 
   </ion-content>
</ion-view>
