 <ion-header-bar  style="background: #93c22d; height: auto;"  >	
 
  <!-- pop up show start-->
	 <div class="backdrops"></div>
		<div class="boxes">
			<form id="main_form_clear"  action="#" method="post">			
				<section class="filter_sec">
				 <header><p>{{ 'FILTER' | translate }}</p><img src="img/tang-app-p.png"></header>
						<div class="filter_bdy"><p>{{ 'DATE' | translate }}</p>			
							<div class="date_se">							 
							  <div class="date_se1">								 
								<label>From</label>
									<input type="date" ng-model="newsForm.start_date" value="{{date}}"  ng-required="required" class="select_da" ng-if="hideValue==0" >
									
									<input type="date" ng-model="newsForm.start_date"  ng-required="required" class="select_da"  ng-if="hideValue==1" >
								
							  </div>	
							  <div class="date_se2">		
								<label>To</label>
								 <input type="date" ng-model="newsForm.end_date"  value="{{date2}}"  ng-required="required" class="select_da1" ng-if="hideValue==0">
								
								<input type="date" ng-model="newsForm.end_date" ng-if="hideValue==1" ng-required="required" class="select_da1" >	
								 
								
								<!--  <input type="date" ng-model="newsForm.end_date"  value="{{date2}}"  ng-required="required" class="select_da1" >	 -->
							  </div>	
							</div>
						</div>							 
							<div class="filter_bdy">
								<p>{{ 'FILTER_BY_Text' | translate }}</p>
									<div class="date_se3">									
									<input type="text" ng-model="newsForm.search" value="{{search}}" placeholder="Enter Text"  class="filter_text"> 
									</div>
							</div>		
						<footer> 
							<a class="cancel_ftre" href="#">{{ 'CANCEL' | translate }}</a>
							<a class="clear" href="#">{{ 'CLEAR' | translate }}</a>
							 <a class="ok_ftras" href="#" ng-click="newsFilter()">{{ 'OK' | translate }}</a>
						</footer> 				
					  </section>			  
			  </form>
		</div> 
    <!-- pop up show end-->
  
	<header class="hdr-bck-lg">   
		<div class="back-arrow">  
			<a ng-href="#" ng-click="ionicGoBack()"><img alt="Splash Logo" ng-src="img/back-arrow.png"></a>    
			<h2>{{ 'NEWS' | translate }}</h2>
			  

		</div>
		<div class="ba-logo">
		  <img  alt="image" ng-src="img/tang-app-p.png">
		</div>
		
  </header>	
 </ion-header-bar>

  
 <ion-view view-title="{{ 'NEWS' | translate }}" > 
<section class="bck-lg1">
	  <div class="world-pin">		
	<a href="#" class="lightbox">
		<img ng-if="filterImage==0" alt="image" ng-src="img/pin_g.png">
		<img ng-if="filterImage==1"  alt="image" ng-src="img/pin_g.png">
		<!-- <img ng-if="filterImage==1"  alt="image" ng-src="img/filter_red_icon.png"> -->
	</a>	
	</div>  
	</section> 
 
  <ion-content class="media_cont_top" style="top: 158px;"> 
	  

    <!-- pop up show start-->

  <!-- pop up show end-->
 	 
		<div class="container" > 
			<div ng-if="showUserScore==1">
			<div id="myValues" ng-show="noRecordFound"> 
			<section class="bck-lg">	
			<div class="sec-ab"  style=" margin: 8px;" >
			<h1>{{noRecordFound}}</h1>
			</div> 	
			</section>	
			</div>
		</div>  
		</div>	
		
		
			 <section class="bck-lg borderRadius" >
				<div ng-if="filterShowData==1" >
					<div class="sec-ab" ng-repeat = "item in items" item = "item"  style=" margin: 8px;" >
					<a ng-href="#/newsslide/{{$index}}" class="textDecoration">					
					<h1>{{item.post_title}}</h1>
					 <p >{{item.post_date | limitTo: 10 | limitTo: -2 }}-{{item.post_date | limitTo: 7 | limitTo: -2 }}-{{item.post_date | limitTo: 4 | limitTo: -6 }}</p> 
					</a>
					<hr>
					</div> 
				</div>
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="2%"></ion-infinite-scroll> 			
			</section>
		
	
	 
	<div class="height-scroller-filter">
	<section class="bck-lg borderRadius filterSetting" style="margin: -4px 0px 0px 0px;">
		<div ng-if="filterShow==1">		
				 <div class="sec-ab" ng-repeat="item in filterDetail"  style=" margin: 8px;" >
					 <a ng-href="#/newsfilterslide/{{$index}}" class="textDecoration">	
						<h1>{{item.post_title}}</h1>
						<p>{{item.post_date | limitTo: 10 | limitTo: -2 }}-{{item.post_date | limitTo: 7 | limitTo: -2 }}-{{item.post_date | limitTo: 4 | limitTo: -6 }}</p>
						</a>
					<hr>
				</div>  		
		</div>  
	 </section>
	 <div>
	
  </ion-content>
</ion-view> 

 <style>
 a.textDecoration{
text-decoration: none;
}



 </style>
 