 <ion-header-bar  style="background: #93c22d;height: 131px;"  >	
	<header class="hdr-bck-lg">   
		<div class="back-arrow">  
			<a ng-href="#" ng-click="ionicGoBack()"><img alt="Splash Logo" ng-src="img/back-arrow.png"></a>    
			<h2>Map</h2>
		</div>
		<div class="ba-logo">
		  <img  alt="image" ng-src="img/tang-app-p.png">
		</div>
		
		<section class="bck-lg">
		  <div class="world-pin">
		<a href="#/news"><img  alt="image" ng-src="img/menu.png"></a>
		<a href="#"><img  alt="image" ng-src="img/pin_g.png"></a>
	  </div>  
	  </section> 
		
  </header>	
 </ion-header-bar> 
 
<ion-view view-title="Maps" >  
  <ion-content  style="top: 184px;">
  <div class="container">

	<section class="bck-lg"> 
		  <div id="map" style="height: 400px; width: 500px;"></div>
	</section>
  </div> 
   </ion-content>
</ion-view>

 