<ion-view view-title="Recipes Gallery">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list half">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                     <h2>Diet Catering</h2>
                    <!-- <img class="full-image" ng-src="{{resultDetails}}Diet-Catering.jpg" alt="Diet Catering"> -->
                    <img class="full-image" ng-src="img/Diet-Catering.jpg" alt="Diet Catering">
                </div>                
            </div>
             <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                     <h2>Diet-Catering-Wroclaw</h2> 
                    <img class="full-image" ng-src="img/Diet-Catering-Wroclaw.jpg">
                </div>              
            </div> 
             <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                     <h2>Wroclaw-Catering</h2> 
                    <img class="full-image" ng-src="img/Wroclaw-Catering.jpg">
                </div>              
            </div> 
             <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                     <h2>Dietetyczne-odchudzanie-Wroclaw</h2> 
                    <img class="full-image" ng-src="img/Dietetyczne-odchudzanie-Wroclaw.jpg">
                </div>              
            </div>  
			<div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                     <h2>Dietetyczny-Katering-Wroclaw</h2>
                    <img class="full-image" ng-src="img/Dietetyczny-Katering-Wroclaw.jpg" alt="Dietetyczny-Katering-Wroclaw.jpg">
                </div>                
            </div>
             <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                     <h2>Dieta-do-domu-Wroclaw</h2> 
                    <img class="full-image" ng-src="img/Dieta-do-domu-Wroclaw.jpg">
                </div>              
            </div> 
             <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                     <h2>Catering-wroclaw</h2> 
                    <img class="full-image" ng-src="img/Catering-wroclaw.jpg">
                </div>              
            </div> 
             <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                     <h2>Katering-Dietetyczny-Wroclaw</h2> 
                    <img class="full-image" ng-src="img/Katering-Dietetyczny-Wroclaw.jpg">
                </div>              
            </div> 
        </div>		
	 
	   <div class="list half">
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Katering-Wroclaw</h2>
                    <img class="full-image" ng-src="img/Katering-Wroclaw.jpg">
                </div>               
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Dieta-Wroclaw</h2>
                    <img class="full-image" ng-src="img/Dieta-Wroclaw.jpg">
                </div>             
            </div>			
			<div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Zestawy-Dietetyczne-Do-Domu</h2>
                    <img class="full-image" ng-src="img/Zestawy-Dietetyczne-Do-Domu.jpg">
                </div>             
            </div>			
			<div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Catering-Dietetyczny-Wroclaw</h2>
                    <img class="full-image" ng-src="img/Catering-Dietetyczny-Wroclaw.jpg">
                </div>             
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Catering-we-Wroclawiu</h2>
                    <img class="full-image" ng-src="img/Catering-we-Wroclawiu.jpg">
                </div>               
            </div>
            <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Diet-Catering-in-Wroclaw</h2>
                    <img class="full-image" ng-src="img/Diet-Catering-in-Wroclaw.jpg">
                </div>             
            </div>			
			<div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Dietetyczne-odchudzanie-we-Wroclawiu</h2>
                    <img class="full-image" ng-src="img/Dietetyczne-odchudzanie-we-Wroclawiu.jpg">
                </div>             
            </div>			
			<div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Catering-Dietetyczny-we-Wroclawiu</h2>
                    <img class="full-image" ng-src="img/Catering-Dietetyczny-we-Wroclawiu.jpg">
                </div>             
            </div>
        </div> 
		
    </ion-content>
</ion-view>
