<ion-view title="Page" hide-nav-bar="true" id="login" class=" ">
    <ion-content padding="true" style="background: url(img/m6SCigNFRYOSKB6OpqKj_background.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">

        <div class="header_top" style="background: url(img/login_upper_img.png) no-repeat center;background-size:cover; padding:10px 20px 30px 20px;">
            <div class="top_logo">
                <img src="img/logo.png" width="180" height="180" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="page-form1" class="list custom-form">
                <label class="item item-input item-floating-label " id="page-input1" name="email" required/>
                    <input type="text" placeholder="Username" ng-model="loginData.email">
                </label>
                <div class="spacer" style="width: 300px; height: 15px;"></div>
                <label class="item item-input item-floating-label " id="page-input2" name="password">
                    <input type="password" placeholder="Password" ng-model="loginData.password" required/>
                </label>
            </div>
            <button id="login-button1" class=" button button-light  button-block button-outline custom-button" ng-click="login();">LOGIN</button>

            <div>
            </div>
            
        </div>
      
    </ion-content>
</ion-view>
