<div ng-controller="landingCtrl">
<ion-view >
  <ion-content>

<div class="wrapper" >
  <div class="container">
    <div class="logo"><a href="#/landing"><img ng-src="img/logolanding.png"></a></div>
    <div class="btn-main">
    <ul>
    <li><a href="#/login">Sign in</a></li>
    <li><a href="#/register">Sign Up</a></li> 
	
	</br></br>
    <li><a href="#/searchresult"  class="userdetail">searchresult</a></li>
	<li><a href="#/map"  class="userdetail">Map</a></li></br>
	<li><a href="#/userpage" class="userdetail">User Details</a></li>
	<li><a href="#/daypassesdetail" class="userdetail">Day Passes Details</a></li>
	<li><a href="#/daypasses" class="userdetail">Day Passes</a></li>
	<li><a href="#/searchscreen" class="userdetail">Search Screen</a></li>
	<li><a href="#/homescreen" class="userdetail">Home Screen</a></li>
    </ul>
	
    </div>
  </div>
</div>

  </ion-content>
  
</ion-view>
</div>

<style>
a.userdetail {
    font-size: 15px !important;
    float: left;
    padding: 2px !important;
    margin: 4px !important;
}
</style>