<ion-view title=""  id="market" class=" ">
    <ion-header-bar class="bar-positive bar bar-header" align-title="center">
        <button  class="drop-btn" ng-click="popover.show($event)"></button>
        
        
        <button ng-click="goBack()" class="button back-button buttons button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i></button>
        <img src="img/header_logo.png" width="35px" height="35px">
        <div class="title title-center header-item abhiiiiii" style="transform: translate3d(0px, 0px, 0px); left: 71px; right: 71px; padding-bottom: 30px;">{{"IRAQI_BORSA"| translate}}</div>
    </ion-header-bar>
    <ion-content padding="true" class="manual-ios-statusbar-padding services has-header" style="background-color: #282a27;     padding-bottom: 75px;" >
        <ion-refresher
            spinner="lines"
            pulling-text="Pull to refresh..."
            on-refresh="doRefreshMarkets()">
        </ion-refresher>
        <ul>
            <div class="top-headings">
                <p class="left-heading">{{"NAME"| translate}}</p>
                <p class="center-heading" style="margin-right: 10px;">{{"BID"| translate}}</p>
                <p class="right-heading" style="margin-right: 10px;">{{"ASK"| translate}}</p>
            </div>
            <br class="clear">
            <ion-list class="ad1" ng-repeat="market in markets" >
                <div class="left_data">
                    <h2>{{market.title}}</h2>
                </div>
                <div class="right_data">
                    <div class="update">
                        <a style=" min-width: 60px !important; text-align: center" ng-class="{'update_ask_bid': market.ask_arrow == 0}" >{{market.ask}}</a>
                        <a style=" min-width: 60px !important; text-align: center" ng-class="{'update_ask_bid':  market.bid_arrow == 0}">{{market.bid}}</a>
                    </div>
                </div>
                <br class="clear">
            </ion-list>
        </ul>
    </ion-content>
</ion-view>
