<div ng-controller="dayPassesDetailCtrl">
<ion-view >
  <ion-content>
<div class="wrapperDashboard" >
  <div class="container">
  <div class="header">
  <div class="nav-menu "> <img ng-src="img/menu-icon.png" > </div>
    <div class="logo-1">
		<a href="#"><img ng-src="img/logo-1.png" ></a> 
	</div>
	</div>
	<div class="search">BOOKINGS</div>
	<div class="showPasses">Show Day Passes</div>
	
<div class="userContaner">
		<div class="userContaner-section">
				<ul> 
					<li><a ng-href="#" title="Queue of">Queue of </a></li>
					<li><a ng-href="#" title="FITNESS">FITNESS</a></li>
					<li><a ng-href="#" title="pending">bookings</a></li>
					<li><a ng-href="#" title="and">and</a></li>
					<li><a ng-href="#" title="past">past</a></li>
					<li><a ng-href="#" title="Bookings">Bookings</a></li> 					
				</ul>	
				<ul> 
					
					<li><a ng-href="#" title="Including:">Including:</a></li>
					<li><a ng-href="#" title="price">price</a></li>
					<li><a ng-href="#" title="Data">Data</a></li>
					<li><a ng-href="#" title="Place,...">Place,...</a></li>
				</ul>
		</div>		  

	</div>
	
		
    
  </div>
</div>

  </ion-content>
  
</ion-view>
</div>
