<div ng-controller="dayPassesCtrl">
<ion-view >
  <ion-content>

<div class="wrapperDashboard" >
  <div class="container">
  <div class="header">
  <!-- <div class="nav-menu "> <img ng-src="img/menu-icon.png" > </div> -->
  <div class="nav-menu "><button class="button button-icon icon ion-navicon"></button>  </div>
    <div class="logo-1">
		<a href="#"><img ng-src="img/logo-1.png" ></a> 
	</div>
	</div>
	<div class="search">DAY PASSES</div>
	
	<div class="dayPasses-main">
		<div class="dayPasses-section">
				<div class="passes-leftSide">
					<p>Chris Gym</p> 
					<p><small>Main Street 1 <span><a ng-href="#" >[on map] </a></span> </small></p> 
				</div>
				<div class="passes-date">
					<p>20.01.2016</p> 
				</div>
				
				<div class="passes-No">
					<p>Pass No.:  1234-5AB-1</p> 
					<p>Name:  Joseph Booker</p> 
				</div>
				
				<div class="passes-BarCode">
					<p><img ng-src="img/qrcode.png"> </p>
				</div>
				
		</div>		  

	</div>
	
		
    
  </div>
</div>

  </ion-content>
  
</ion-view>
</div>