<div ng-controller="mapCtrl" >
<ion-view >
  <ion-content>
<div class="wrapperSearchScreen" >
  <div class="container">
    <div class="header">
		<!-- <div class="nav-menu "> <img ng-src="img/menu-icon.png" > </div> -->
		 <div class="nav-menu "><button class="button button-icon icon ion-navicon"></button>  </div>
		<div class="logo-1">
			<a href="#"><img ng-src="img/logo-1.png" ></a> 
		</div>
	</div>
	<div class="search">Search Results</div>
	
	<div class="map-Screen">
		<iframe ng-src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3430.3777319638893!2d76.72135311513087!3d30.707779681645775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1452863113025" width="600" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
	
	</div>

	
 </div>
 </div>

  </ion-content>  
</ion-view>

</div>
