<div ng-controller="userPageDetailCtrl">
<ion-view >
  <ion-content>

<div class="wrapperDashboard" >
  <div class="container">
  <div class="header">
  <!-- <div class="nav-menu "> <img ng-src="img/menu-icon.png" > </div> -->
   <div class="nav-menu "><button class="button button-icon icon ion-navicon"></button>  </div>
    <div class="logo-1">
		<a href="#"><img ng-src="img/logo-1.png" ></a> 
	</div>
	</div>
	<div class="search">USER</div>
	<div class="User-BackgroundImage"><img ng-src="img/defaultUser1.png" ></div>
	
	<div class="userContaner">
		<div class="userContaner-section">
				<ul>
					<li><a ng-href="#/dashboard" title="Dashboard">Dashboard</a></li>
					<li><a ng-href="#" title="Data">Data</a></li>
				</ul>
		</div>		  

	</div>
	
		
    
  </div>
</div>

  </ion-content>
  
</ion-view>
</div>